<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/images/telugulogo.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center"><b>త్రైత సిద్ధాంత <br> భగవద్గీత</b></ion-title>

    <ion-buttons slot="end">
      <img src="assets/img/swami.jpeg" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-row>
    <ion-col><br></ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" >
        
        <span class="align-icon" style="font-size:30px;" *ngIf="this.global.currentPage>0" (click)="this.global.currentPage=this.global.currentPage-1" >☜</span>

         
        &nbsp; <b><span style="font-size:20px"> {{this.global.geetha[this.global.currentPage].chapterName}}</span></b>&nbsp;
        <ion-icon name="settings-outline" (click)="openSettings()" class="align-icon"></ion-icon>
        &nbsp;
        <span class="align-icon" style="font-size:30px;" *ngIf="this.global.currentPage<=568" (click)="this.global.currentPage=this.global.currentPage+1" >☞</span>
        
    </ion-col>
  </ion-row>
 

  <ion-row >
    <ion-col>


      <ion-card class="custom-card" [ngStyle]="{'font-size':this.global.fontSize+'px'}">
 
        <!--for geetham geetha do this change
        
        <div *ngIf="this.global.geetha[this.global.currentPage].main==false" class="ns">
          <ion-row>
            <ion-col  *ngIf="this.global.geetha[this.global.currentPage].verse=='చివరి పేజి'" class="ion-text-center">
             <b> <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'" style="font-size:20px"> </span></b>
            </ion-col>
            <ion-col   *ngIf="this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'">
              <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
            </ion-col>
          </ion-row>
          <ion-row >
              <ion-col   *ngIf="this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'">
                <span [innerHTML]="this.global.geetha[this.global.currentPage].teluguVerse | safe:'html'"> </span>
              </ion-col>
            </ion-row>
        </div>
           <div class="ms" *ngIf="this.global.geetha[this.global.currentPage].main==true">
            <ion-row >
              <ion-col >
                <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col >
                <span [innerHTML]="this.global.geetha[this.global.currentPage].teluguVerse | safe:'html'"> </span>
              </ion-col>
            </ion-row>
          </div>
        -->  
        
        
        <ion-row *ngIf="this.global.geetha[this.global.currentPage].main==false">

            <ion-col class="ns" *ngIf="this.global.geetha[this.global.currentPage].verse=='చివరి పేజి'" class="ion-text-center">
             <b> <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'" style="font-size:20px"> </span></b>
            </ion-col>
            <ion-col class="ns" *ngIf="this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'">
              <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="this.global.geetha[this.global.currentPage].main==true">
            <ion-col class="ms">
              <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="this.global.geetha[this.global.currentPage].videoId!=null && this.global.networkStatus=='ONLINE' ">
            
            <ion-col class="ion-text-center">
              <div class="viditem">
                <a class="vid-img-container" style="">
                  <iframe class="vidimg"  height="310" [src]="this.global.geetha[this.global.currentPage].videoId | safe:'resourceUrl'"
                   allowfullscreen></iframe>
                </a>
              </div>

            </ion-col>
 
            <!--ion-col class="ion-text-center">
  
                  <iframe width="560" height="315" [src]="this.global.geetha[this.global.currentPage].videoId | safe:'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                  <div class="viditem">
                      <a class="vid-img-container" target="_blank" href="https://www.youtube.com/watch?v={{this.global.geetha[this.global.currentPage].videoId}}">
                          <img class="playimg" src="assets/img/playbutton.png">
                          <img class="vidimg" src="http://img.youtube.com/vi/{{this.global.geetha[this.global.currentPage].videoId}}/hqdefault.jpg" data-src="http://img.youtube.com/vi/{{this.global.geetha[this.global.currentPage].videoId}}/hqdefault.jpg">
                      </a>
                    </div>
  
              </ion-col-->
          </ion-row>

          <ion-row>
            <ion-col>
              <span [innerHTML]="this.global.geetha[this.global.currentPage].meaning | safe:'html'"> </span>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span [innerHTML]="this.global.geetha[this.global.currentPage].pageText | safe:'html'"> </span>


            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right" >
        <span class="align-icon" style="font-size:30px;margin-right:8px;color:gold;" 
        *ngIf="this.global.currentPage<=568" 
        (click)="goToTop()" >☞</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <br>
    </ion-col>
  </ion-row>
  
</ion-content>