<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon  name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/images/telugulogo.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-family: mandali;"><b>త్రైత సిద్ధాంత<br>భగవద్గీత</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/swami.jpeg" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-color">
  <ion-row [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'>
    <ion-col><br></ion-col>
  </ion-row>
  <ion-row [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'>

    <ion-col class="ion-text-right" size="2" style="margin-top: -5px;">
      @if(this.global.currentPage>0){
        <span   style="font-size:30px;" (click)="this.global.currentPage=this.global.currentPage-1;">☜</span>
      }
      </ion-col>

      <ion-col class="ion-text-center" size="6" style="margin-top: 10px;">
        <b><span style="font-family: mandali" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'> {{this.global.geetha[this.global.currentPage].chapterName}}</span></b>
        </ion-col>

        <ion-col class="ion-text-left" size="2" style="margin-top: 12px;">
          <ion-icon name="settings" (click)="openSettings()" class="align-icon"></ion-icon>
          </ion-col>

        <ion-col class="ion-text-left" size="2" style="margin-top: -5px;">
          @if(this.global.currentPage<=571){
        <span   style="font-size:30px;"  (click)="this.global.currentPage=this.global.currentPage+1;">☞</span>
          }
        </ion-col>

  </ion-row>


  <ion-row >
    <ion-col [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'>



        <!--for geetham geetha do this change

        @if(this.global.geetha[this.global.currentPage].main===false){
        <ion-row>
          @if(this.global.geetha[this.global.currentPage].verse=='చివరి పేజి'){
            <ion-col class="ion-text-center" style="font-family: NTR;">
              <b> <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'" style="font-size:20px"> </span></b>
             </ion-col>
          }
         @if(this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'){
          <ion-col style="font-family: NTR;">
            <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
          </ion-col>
         }


        </ion-row>
        @if(this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'){
          <ion-row>
            <ion-col style="font-family: NTR;">
              <span [innerHTML]="this.global.geetha[this.global.currentPage].teluguVerse | safe:'html'"> </span>
            </ion-col>
        </ion-row>
        }

      }
          @if(this.global.geetha[this.global.currentPage].main===true){
            <div class="ms">
            <ion-row >
              <ion-col style="font-family: NTR;">
                <span [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
              </ion-col>
            </ion-row>
            @if(this.global.geetha[this.global.currentPage].verse!='చివరి పేజి'){
              <ion-row >
                <ion-col style="font-family: NTR;">
                  <span [innerHTML]="this.global.geetha[this.global.currentPage].teluguVerse | safe:'html'"> </span>
                </ion-col>
              </ion-row>
            }
          </div>
          }

          -->

        <!-- without telugu poems-->
        @if(this.global.geetha[this.global.currentPage].main===false){
          <ion-row>
            @if(this.global.geetha[this.global.currentPage].verse==='చివరి పేజి'){
              <ion-col class="ns" class="ion-text-center">
                <b> <span style="font-family: mandali;text-indent:0px;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor' [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span></b>
              </ion-col>
            }
           @if(this.global.geetha[this.global.currentPage].verse!=='చివరి పేజి'){
            <ion-col class="ns">
              <div class="poem">
                <div class="poemtext">
              <span style="font-family: NTR;text-indent:0px;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor' [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
              </div></div>
            </ion-col>
           }
          </ion-row>
        }


          @if(this.global.geetha[this.global.currentPage].main===true){
            <ion-row>
              <ion-col class="ms">
                <div class="poem">
                  <div class="poemtext">
                    <span style="font-family: NTR;text-indent:0px;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor' [innerHTML]="this.global.geetha[this.global.currentPage].verse | safe:'html'"> </span>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          }
          @if(nw.connectionStatus===true && this.global.geetha[this.global.currentPage].videoId){
          <ion-row>
            <ion-col class="ion-text-center">

              <!--div class="video-item">
								<a class="video-image-container" (click)="playVideo(this.global.geetha[this.global.currentPage].videoId)">
									<img class="play-image" src="/assets/img/playbutton.png">
									<img class="video-image" [src]="imgUrl">
								</a>
							</div-->

              <div class="viditem">
                <a class="vid-img-container" (click)="playVideo(this.global.geetha[this.global.currentPage].videoId)">
                    <img class="playimg" src="assets/img/playbutton.png">
                    <img class="vidimg" src="https://img.youtube.com/vi/{{this.global.geetha[this.global.currentPage].videoId}}/hqdefault.jpg">
                </a>
              </div>

            </ion-col>

            <!--ion-col class="ion-text-center">

                  <iframe width="560" height="315" [src]="this.global.geetha[this.global.currentPage].videoId | safe:'resourceUrl'" frameborder="0" allowfullscreen></iframe>
                  <div class="viditem">
                      <a class="vid-img-container" target="_blank" href="https://www.youtube.com/watch?v={{this.global.geetha[this.global.currentPage].videoId}}">
                          <img class="playimg" src="assets/img/playbutton.png">
                          <img class="vidimg" src="http://img.youtube.com/vi/{{this.global.geetha[this.global.currentPage].videoId}}/hqdefault.jpg" data-src="http://img.youtube.com/vi/{{this.global.geetha[this.global.currentPage].videoId}}/hqdefault.jpg">
                      </a>
                    </div>

              </ion-col-->
          </ion-row>
        }
          @if(this.global.geetha[this.global.currentPage]?.meaning){
            <ion-row>
              <ion-col>
                <span style="font-family: mandali;text-indent:0px;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor' [innerHTML]="this.global.geetha[this.global.currentPage].meaning | safe:'html'"> </span>

              </ion-col>
            </ion-row>
          }

          <ion-row>
            <ion-col >
              <span style ="font-family: mandali;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'  [innerHTML]="this.global.geetha[this.global.currentPage].pageText | safe:'html'"> </span>
            </ion-col>
          </ion-row>
    </ion-col>
  </ion-row>
  @if(this.global.currentPage<=571){
    <ion-row>
      <ion-col class="ion-text-right" >
          <span class="align-icon" style="font-size:30px;margin-right:8px;color:gold;" (click)="goToTop()" >☞</span>
      </ion-col>
    </ion-row>
  }
  <ion-row>
    <ion-col>
    <br>
    </ion-col>
  </ion-row>

</ion-content>
