<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/images/telugulogo.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center"><b>త్రైత సిద్ధాంత <br> భగవద్గీత</b></ion-title>
    
    <ion-buttons slot="end">
      <img src="assets/img/swami.jpeg" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-color">

  <ion-row>
    <ion-col class="ion-text-center" [ngStyle] = "{'font-size':this.global.fontSize+'px'}" (click)="this.global.fontSize=this.global.fontSize==15?20:15">
      <b> శ్రీ శ్రీ ఆచార్య ప్రబోధానంద యోగీశ్వరులు</b>&nbsp; <ion-icon name="settings-outline" (click)="openSettings()" class="align-icon"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-card class="custom-card">
    <ion-card-content [ngStyle] = "{'font-size':this.global.fontSize+'px'}" (click)="this.global.fontSize=this.global.fontSize==15?20:15">


      <ion-row>
        <ion-col>
          భారతదేశము దైవజ్ఞానమునకు పుట్టినిల్లు, ఎందరో ఆధ్యాత్మిక పురుషులు తమ జ్ఞాన సందేశములతో ఈ దేశమును జ్ఞానవంతము చేశారు. అందువలనే
          భారతదేశము ఇందుదేశముగా పిలువబడినది. కాలక్రమముగా ఇందూ దేశము హిందూ దేశముగా మారిపోయినది. ముఖ్యముగా దక్షిణ భారతదేశము
          స్వచ్ఛమైన దైవజ్ఞానమునకు నిలయమైనందుకు ఎన్నో సాక్ష్యాధారములు కలవు. ఇక్కడి దేవాలయములు, సాంప్రదాయములు అణువణువునా ఆధ్యాత్మిక
          చింతనను నింపుకొని ఉన్నవి. అంతేకాకుండా ఇందూమతములో సిద్ధాంతకర్తలంతా దక్షిణ భారతదేశములోనే జన్మించుట గమనించదగిన విషయము.
          ఉదాహరణకు అద్వైతమును ప్రతిపాదించిన ఆదిశంకరులు కేరళ రాష్ట్రమందు, ద్వైతమును ప్రతిపాదించిన మధ్వాచార్యులు కర్ణాటకయందు,
          విశిష్టాద్వైతమును ప్రతిపాదించిన రామానుజాచార్యులు తమిళనాడుయందు జన్మించారు. వారు ప్రతిపాదించిన సిద్ధాంతముల యొక్క
          శాస్త్రబద్ధతను ప్రశ్నించుచూ,
          <b>త్రైత సిద్ధాంతము</b>ను ప్రతిపాదించిన <b>శ్రీ శ్రీ శ్రీ ఆచార్య ప్రబోధానంద యోగీశ్వరులు </b>ఆంధ్రప్రదేశ్ రాష్ట్రమందు
          జన్మించుట జరిగినది.
          <br><br> అద్వైత, ద్వైత, విశిష్టాద్వైత సిద్ధాంతములకు త్రైత సిద్ధాంతమునకు బేధమును తెలుసుకోవలసిన అవసరమున్నది. అందులో
          భాగముగా ఈ సిద్ధాంతములను గురించి వివరముగా తెలుసుకోవాలి. ఆ వివరమును ఈ విధముగా చూడవచ్చును.
          <br><br><b>
              అద్వైతము:- </b>అద్వైతమనగా రెండుకానిది, ఒక్కటిగానే ఉన్నదని అర్థము. ఈ సిద్ధాంతము ప్రకారము ఈ జగత్తంతా పరమాత్మ
          శక్తియే నిండియున్నది. పరమాత్మ తప్ప మారేదిలేదు. ఈ సిద్ధాంతమును ప్రతిపాదించిన ఆదిశంకరులు భగవద్గీత రచించినప్పటికీ,
          భగవద్గీతయందు భగవానుడు వ్యతిరేకించిన వేదములను సమర్థించుట ఆశ్చర్యకరము. ఈ సిద్ధాంతము శైవమును సాంప్రదాయమునకు తెర లేపినది.
          <br><br><b> 
              విశిష్టాద్వైతము:- </b>శంకరుల అద్వైతము యొక్క శాస్త్రబద్ధతను ప్రశ్నించుచూ అందులోని లొసుగులను సరిదిద్ది ప్రతిపాదించిన
          సిద్ధాంతముగా విశిష్టాద్వైతమును రామానుజాచార్యులు ప్రతిపాదించారు. ఈ సిద్ధాంతము ప్రకారము జగత్తంతయు ప్రత్యేకమైన రెండు
          ఆత్మలుగా, వాటికి భిన్నముగా ప్రకృతితో కూడుకొని ఉన్నది. అనగా జీవాత్మ, పరమాత్మ మరియు ప్రకృతి యొక్క కలయికయే ఈ సృష్ఠిగా
          మారినది. ఈ సిద్ధాంతము కూడా వేదములను సమర్థించడమేకాక, వైష్ణవమును సాంప్రదాయమునకు నాంది పలకినది.
          <br><br><b> 
              ద్వైతము:-</b> అద్వైత, విశిష్టాద్వైత ప్రశ్నించుచూ ప్రతిపాదించబడిన సిద్ధాంతమే ద్వైతము. ద్వైతము అనగా రెండు అని
          అర్థము. లోకములో ఇద్దరు పురుషులు కలరు. నాశనము చెందేవాడు అనగా జీవాత్మ, నాశనము చెందనివాడు అనగా పరమాత్మ అని తెలియజేస్తూ
          భాగవద్గీతయందలి పురుషోత్తమ ప్రాప్తి యోగమును ఆధ్యాయముయందలి 16వ శ్లోకమును ఉదహరించారు.
          <br><br><b>
              శ్లో❘❘  ద్వావిమౌ పురుషౌ లోకే క్షరశ్చాక్షర ఏవచ ❘ <br>
              క్షరస్సర్వాణి భూతాని కూటస్థోక్షర ఉచ్చతే ❘❘</b><br><br> పై మూడు సిద్ధాంతములు ఒకదానితో ఒకటి విబేధించుచున్నవి.
          ముఖ్యముగా అద్వైతమునకు పూర్తి వ్యతిరేఖముగా ద్వైతము ఉన్నది. అద్వైతమును అనుసరించు అద్వైతులు, ద్వైతుమును అనుసరించు
          ద్వైతులు ఒకరికొకరికి సరిపడక ద్వేషించుకొనుచు, కలహించుకొనుచున్నారు.
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>

  <ion-row>
    <ion-col class="ion-text-center">
      <b>హిందూ మతములో సిద్ధాంత కర్తలు గ్రంథము</b>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
      <a href="http://thraithashakam.org/publications/telugu/pdf/Hindu-Mathamulo-Siddhanthakarthalu.pdf">
                      <img  style="width:350px" src="/assets/img/Hindu-Mathamulo-Siddhanthakarthalu.png">
                       <ion-row>
                         <ion-col>
                           <ion-button fill="outline" shape="round" style="color:white">గ్రంథము తెరువుము</ion-button>
                            
                         </ion-col>
                       </ion-row>
                      </a>
    </ion-col>
  </ion-row>


</ion-content>