<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/images/telugulogo.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-family: mandali;"><b>త్రైత సిద్ధాంత <br> భగవద్గీత</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/swami.jpeg" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-color">
  <ion-grid>
    <ion-row>
      <ion-col [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'
        class="ion-text-center" style="font-family: mandali;">
        <br>
        <b>త్రైత సిద్ధాంతము</b>&nbsp;
        <ion-icon name="settings-outline" (click)="openSettings()" class="align-icon"></ion-icon>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col style="font-family: mandali;" [style.color]='this.global.fontColor' [ngStyle]="{'font-size':this.global.fontSize+'px'}" [style.background-color]='this.global.bgColor'>
          <p>పీఠాధిపతులైన గొప్ప గురువులమని పేరుగాంచిన వారే ఒకరి సిద్ధాంతమును మరొకరు ఒప్పుకోక ద్వైతము సరియైనదికాదని అద్వైతులు, అద్వైతము
          సరియైనదికాదని ద్వైతుల యొక్క వాదన. ఆలోచించి చూచినట్లయితే ఒకరిది సరియైన సిద్ధాంతమైతే మరియొకరిది తప్పు సిద్ధాంతమగును
          కదా! అందువలన సిద్ధాంతములనే బయల్పర్చిన గురువులవద్ద కూడా మాయ పనిచేసినదనియే చెప్పవచ్చును.
        </p><p> సిద్ధాంతమనునది ఎప్పటికీ మారునది కాకుండాలి మరియు అసత్యమైనది కాకుండాలి. ఇంకనూ వివరము చెప్పుకొంటే సిద్ధి
          అనగా ప్రాప్తించునది, సిద్ధించునది, అనుభవానికివచ్చునదని అర్థము. అనుభవానికి వచ్చు విషయము తెల్పువాడు సిద్ధాంతీయగును.
          శాసనములతో కూడుకొన్నది శాస్త్రము. శాసనము, సిద్ధాంతము రెండు ఒక్కటే. శాస్త్రము తెలుపువాడు శాస్త్రియని, సిద్ధాంతములను
          తెల్పువాడు సిద్ధాంతీయని పూర్వమనెడివారు. చిన్నచిన్న శాసనములతో కూడుకొన్నదే ఒక సిద్ధాంతమగును. దీనిప్రకారము అన్నీ విద్యలకంటే
          గొప్ప విద్యాయైన ఆధ్యాత్మికము శాసనపరమైన సిద్ధాంతరూపముగా ఉండాలి. అలాగే జగత్ గురువులుగ పేరుగాంచిన శంకరాచార్యులవారు
          అద్వైత సిద్ధాంతమును, మధ్వాచార్యులవారు ద్వైత సిద్ధాంతమును ప్రచారము చేశారు. ఇవి ఒకదానికొకటి భిన్నముగ ఉండుట వలన ఏది
          సత్యము, ఏది అసత్యమని పరికించి చూడవలసియున్నది. వాటి వృత్యాసములు, వాటిలోని సత్యాసత్యములు తెలుసుకొనుటకు ప్రమాణముగా
          పెట్టుకొని చూడవలినది భగవంతుడు చెప్పిన భగవద్గీతయే.

        </p><p> బ్రహ్మవిద్యకు ప్రమాణ గ్రంథమైన భగవద్గీత నూటికి నూరుపాళ్ళు శాస్త్రబద్ధమైన సిద్ధాంతములతో కూడుకొని ఉన్నది.
          పరమాత్మ స్వయముగ తెల్పిన భగవద్గీత ప్రకారము చూచిన ఎడల పరమాత్మ జీవాత్మలను రెండూ లేవని పరమాత్మ ఒక్కటే గలదను అద్వైతము,
          జీవాత్మ పరమాత్మలు రెండూ ఉన్నాయను ద్వైతము, రెండునూ గీతకు కొద్దిగ ప్రక్క మార్గములో ఉన్నాయని తెలియుచున్నది. అనగా ఇవి
          పూర్తి సరియైన సిద్ధాంతములు కావని అర్థమగుచున్నది. గీతను ప్రమాణముగ పెట్టుకొని చూచినట్లయితే మానవమాత్రులైన గురువులు
          చెప్పిన ద్వైత, అద్వైత సిద్ధాంతములు రెండూ హేతుబద్ధముగా లేవు. ద్వైత సిద్ధాంతమును పరిశీలించి చూచినట్లయితే భూమి మీద వేర్లు
          లేకుండ చెట్టున్నదనుట ఎంత సత్యమో అంతే సత్యముగనున్నట్లు తెలియుచున్నది. అట్లే అద్వైత సిద్ధాంతమును పరిశీలించితే భూమి,
          వేర్లు రెండూ లేకుండానే చెట్టున్నదనుట ఎంత సత్యమో అంతే సత్యమగును. అనగ రెండు సిద్ధాంతములు అశాస్త్రీయముగనున్నవని, హేతుబద్ధముగా
          లేవని తెలియుచున్నది. ఈ రెండు సిద్ధాంతములు అశాస్త్రీయములు, అహేతుకమనుటకు గీతలోని పురుషోత్తమ ప్రాప్తి యోగమందు గల 16,
          17వ శ్లోకములే ఆధారము. ఈ రెండు శ్లోకములు ద్వైత, అద్వైత సిద్ధాంతముల రెండింటిని ఒక్కవేటుతో కొట్టిపారేయుచున్నవి. ఈ
          రెండు శ్లోకములే అసలైన ఆధ్యాత్మిక సిద్ధాంతమైన త్రైత సిద్ధాంతమును బోధిస్తున్నవి. ఈ రెండు శ్లోకములేకాక గీత యొక్క సారాంశమంతయు
          త్రైతము మీదనే బోధింపబడియున్నవి. కలియుగములో ద్వైత, అద్వైత సిద్ధాంతములు బయటకిరాగా , ద్వాపరయుగ అంత్యములోనే త్రైత సిద్ధాంతము
          భగవంతుని చేత బోధింపబడి ఉన్నది. అయినప్పటికీ మాయా ప్రభావము చేత త్రైతము అర్థము కాకపోయింది. మాయా ప్రభావము చేతనే ద్వైత,
          అద్వైతములు బయల్పడినవి. ఇప్పటికీ ద్వైత, అద్వైత గురుపరంపరలైన మధ్వాచార్య, శంకరాచార్య పీఠములు భూమిమీద గలవు. త్రైతమను
          పేరుగాని, దానిని బోధించువారుగానీ లేకుండాపోయారు. ఇట్టి పరిస్థితులలో త్రైతము బయటకి రావడము మన అదృష్టమని తెలియాలి.
          త్రైతము ప్రకారమే భగవద్గీత, భగవద్గీత ప్రకారమే త్రైతము గలదు. మనము ఇక్కడ క్రొత్తగా చెప్పుకొనుచున్న త్రైత సిద్ధాంతమును
          గురించి కొద్దిగ వివరించుకొందాము.

          </p><p> పరమాత్మ తప్ప రెండవది లేదనుట అద్వైతము, పరమాత్మ, జీవాత్మ రెండు కలవనుట ద్వైతము. పరమాత్మ జీవాత్మకు మధ్యలో
          ఆత్మగలదని మూడింటిని గూర్చి తెల్పునది త్రైతము. ఏ విధముగా భూమికి చెట్టుకు మధ్యలో కనిపించకుండ వేర్లున్నవో, అట్లే పరమాత్మకు
          జీవాత్మకు మధ్యలో ఆత్మగలదు. భూమికి చెట్టుకు మధ్యలో వేర్లు ఎంత ప్రాముఖ్యత వహించియున్నవో, అట్లే పరమాత్మకు జీవాత్మకు
          మధ్యలో ఆత్మ ప్రాముఖ్యత వహించియున్నది. పరమాత్మ సర్వవ్యాపి, అనంతముకాగ ఆత్మ శరీరమంతా వ్యాపించి శరీరములో ఒక్క స్థానములో
          గల జీవాత్మ యొక్క జీవనాన్ని సాగిస్తున్నది. వేర్లు లేకపోతే చెట్టు ఎలా లేదో అలాగే ఆత్మ లేకపోతే జీవాత్మయే ఉండదు. భూమిమీద
          చెట్టు ఎక్కడున్నా దానికి తప్పనిసరిగ వేర్లు అనుసంధానమైవుండి చెట్టు జీవనాన్ని సాగించుటకు ఆధారమై ఎట్లున్నావో, అట్లే
          పరమాత్మ వ్యాపించిన జగతిలో జీవాత్మ ఎక్కడున్నా ఆత్మ అనుసంధానమైవుండి జీవాత్మ జీవనాన్ని సాగించుటకు ఆధారమైవున్నది. జగతిలో
          పరమాత్మ, ఆత్మ, జీవాత్మలేని ఆధ్యాత్మికమే లేదు. ఈ విషయమునే వివరిస్తూ క్షరుడని జీవాత్మను, అక్షరుడని ఆత్మను, పురుషోత్తముడని
          పరమాత్మను గీతలో బోధించారు. జీవాత్మ ఆత్మలు రెండు కూటస్థముగ కలిసి ఉన్నాయని, వాటికతీతముగా పరమాత్మ ఉన్నదని, జీవాత్మ
          ఆత్మలను ఇద్దరి పురుషులకంటే అతీతముగనున్న పరమాత్మను పురుషోత్తముడని చెప్పబడియున్నది. ఈ విషయము బ్రహ్మవిద్యా శాస్త్రమైన
          గీతలో పరమాత్మ మాటల రూపముగ చెప్పడమేకాక ప్రతి మానవుడు ఈ విషయము తెలుసుకొనునట్లు, ప్రతి మానవుని హస్తములో జీవాత్మ, ఆత్మ,
          పరమాత్మల గుర్తుగా మూడు రేఖలు ముద్రించి పెట్టాడు. ప్రతి మనిషి హస్తములోను మూడు రేఖలు ముఖ్యముగ ఉండును. వాటిలో రెండు
          క్రింది రేఖల కొనలు ఒకదానితో ఒకటి కలిసియుండును.పై రేఖ ఒకటి మాత్రము ప్రత్యేకముగ ఉండడము గమనించవచ్చను. కలిసియున్న రెండు
          రేఖలు జీవాత్మ, ఆత్మలకు ప్రతీకలుకాగ, ప్రత్యేకముగ పైన ఉన్న రేఖ మాత్రము పరమాత్మకు గుర్తుగా ఉన్నది. ఇది ప్రతి హస్తములో
          ఉండగ గురువులుగ ఉన్నవారు కూడ దీనిని గమనించలేదంటే, మాయ యొక్క ప్రభావమెంత ఎక్కువగ ఉన్నదో అర్థము చేసుకొనవచ్చును. సృష్ఠి
          ఆదియందే మానవుని అరచేతిలో మూడు ఆత్మల రహస్యముంచిన పరమాత్మ ద్వాపరయుగ అంత్యములో కూడ అదే విషయమునే గీతలో చెప్పాడు. చేతిలో
          పెట్టినా, నోటితో చెప్పినా మానవుడు గ్రహించలేక పోతున్నాడని పూర్వము తెలిసిన పెద్దలు పురుషున్ని సూచించు లింగాకృతిని
          దేవాలయములయందు ప్రతిష్ఠించి గీతలో చెప్పినట్లు జీవాత్మ, ఆత్మ, పరమాత్మలుగా పురుషుడు మూడు భాగములై ఉన్నాడని తెలియునట్లు
          మూడు విభూతి రేఖలు లింగము మీద తీర్చిదిద్దారు. మూడు ఆత్మల విషయము ప్రతి ఈశ్వర దేవాలయములోను ఉండునట్లు చేశారు. కానీ
          కాలక్రమమున ధర్మమేనాడో అధర్మముగ మారిపోయి ఈశ్వర దేవాలయము కడకు మెడలో పామున్న శివుని ఆలయముగ లెక్కించబడుచున్నది. ఈశ్వరుడనగా
          అధిపతియను అర్థముపోయి, ఈశ్వరుడే శంకరుడను పెడార్థము మిగిలిపోయినది. ఆదియందు స్వచ్ఛముగనున్న లింగమొకటే ఉన్న ఈశ్వరాలయములో
          తర్వాత లింగము ప్రక్కన పార్వతి, ఎదురుగ నందిని ప్రతిష్ఠించారు. ఇలా చివరకు ఈశ్వరాలయము శంకరాలయముగ మారి శైవుల దేవాలయమైనది.
          ఇలా మూడు విభూతి రేఖల అర్థమైన ఆత్మల గుర్తింపు మారిపోయినప్పటికీ అసలు సత్యము స్థిరముగనుండునట్లు మన పెద్దలు ఒక నియమమును
          ఉంచారు. అదేమనగా ప్రతి రోజు ఉదయము నిద్రలేస్తూనే ఎవరి ముఖము కూడా చూడకుండ మొట్టమొదట తన అరచేతిని చూడాలని చెప్పారు.
          లేస్తూనే అరచేతిని చూచుట వలన మూడు రేఖలు కనిపిస్తాయని, ఎప్పటికైన వాటిని గురించి ఆలోచించరా! అని వారి భావమై ఉండవచ్చును.
          ఈ ఆచారము ఈ కాలములో ఎక్కడైనా మిగిలి ఉన్నప్పటికీ అర్థము తెలుసుకోలేక పోవుచున్నారు. అరచేతిలోనే మూడు ఆత్మలున్నాయని అరచేతిలోనే
          అంతా ఉన్నదని, అరచేతిలోనే వైకుంఠముందని, అరచేతిలోనే త్రైత సిద్ధాంతమున్నదను అర్థముతో, ఏ మతములోని వాడైన నా అభిమతములోనే
          ఉన్నాడని పరమాత్మ మానవుల చేతిలో మూడు రేఖలు అమర్చాడు.
        </p><p>
          చేతిలోని మూడు రేఖలే శరీరములోని మూడు ఆత్మలని, శరీరములోని మూడు ఆత్మలనే త్రైతము అంటున్నామని, త్రైతమును తెల్పునదే
          త్రైత సిద్ధాంత భగవద్గీత అని తెల్పుచున్నాము. త్రైత సిద్ధాంతము ముఖ్యముగా మూడు ఆత్మల వివరమును గురించి చెప్పుచు పోయినది.
          త్రైతమనిన, మూడు ఆత్మలనిన చదువు వారికి క్రొత్తగా ఉండును. కావున మాచే రాచింపబడిన "గీతా పరిచయము" అను గ్రంథమును చూడవలసిన
          ఆవశ్యకత గలదు. ఎందుకనగా ఒక క్రొత్త వానిని మనము నేరుగ పలకరించలేము. వానితో స్నేహము చేయలేము. క్రొత్త వ్యక్తిని పరిచయము
          చేయడానికి మొదట ఒక మధ్యవర్తి ఉంటే వానితో సులభముగ పరిచయము ఏర్పడగలదు. మధ్యవర్తి యొక్క తెలివినిబట్టి, వాడు తెలిపే దానినిబట్టి,
          క్రొత్తవాని విషయమంతా మనకు ముందే అవగాహన కాగలదు. ఆ తర్వాత వానితో సులభముగా కలిసిమెలిసిపోవచ్చును. అలాగే "త్రైత సిద్ధాంత
          భగవద్గీత" లోని సారాంశము తెలియాలంటే, దాని అవగాహన కావాలంటే, ముందు గీతాపరిచయమను మధ్యవర్తి కావలసిందే. గీతపరిచయమును
          చదివిన తర్వాత "త్రైత సిద్ధాంత భగవద్గీత" అను సరికొత్త గీత అర్థము కాగలదు. ఈ గీతాపరిచయమును మిమ్ములను త్రైతముతో పరిచయము
          చేయించి, త్రైతమంటే ఏమిటో తెలుపగలదు. గీతాపరిచయమును చదివిన తర్వాత మాచే రచించబడిన "త్రైత సిద్ధాంత భగవద్గీత" ను చదువగలరని
          కోరుచున్నాము.
          </p>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <a href="http://thraithashakam.org/publications/telugu/pdf/Geethaa-Parichayamu.pdf">
          <img style="width:350px" src="/assets/img/Geethaa-Parichayamu.png">
           <ion-row>
             <ion-col class="ion-text-center">
              <a href="http://thraithashakam.org/publications/telugu/pdf/Thraitha-Siddhanthamu.pdf">
               <ion-button fill="outline" shape="round" style="font-family: mandali;">గ్రంథము తెరువుము</ion-button>
              </a>
      </ion-col>
    </ion-row>
    </a>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <a href="http://thraithashakam.org/publications/telugu/pdf/Thraitha-Siddhanthamu.pdf">
            <img style="width:350px" src="/assets/images/Thraitha-Siddhanthamu.png">
             <ion-row>
               <ion-col class="ion-text-center">

                 <ion-button fill="outline" shape="round" style="font-family: mandali;">గ్రంథము తెరువుము</ion-button>

               </ion-col>
             </ion-row>
            </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
