<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/images/telugulogo.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center"><b>త్రైత సిద్ధాంత <br> భగవద్గీత</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/swami.jpeg" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-color">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" [ngStyle]="{'font-size':this.global.fontSize+'px'}">
        <br>
        <b>శ్రీ కృష్ణ భగవాన్</b>&nbsp; <ion-icon name="settings-outline" (click)="openSettings()" class="align-icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         
          <ion-row>
            <ion-col class="ion-text-center">
              <img    src="assets/images/krishnashtami.png" />
            </ion-col>
          </ion-row>
        
        <br>
        <ion-card class="custom-card" (click)="this.global.fontSize=this.global.fontSize==15?20:15" [ngStyle]="{'font-size':this.global.fontSize+'px'}">

         

            <ion-row>
              <ion-col> జన్మ దినము: </ion-col>
              <ion-col> క్రీస్తు పూర్వము 19వ తారీఖు జులై నెల 3228వ సంవత్సరము </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> అవతారము చాలించిన దినము: </ion-col>
              <ion-col> క్రీస్తు పూర్వము 2వ తారీఖు ఫిబ్రవరి నెల 3102వ సంవత్సరము </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> జీవించిన కాలము: </ion-col>
              <ion-col> 126 సంవత్సరములు </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> బోధ: </ion-col>
              <ion-col> భగవద్గీత[శరీర హద్దు] </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> జ్ఞాన బోధ చేసినప్పటి వయస్సు: </ion-col>
              <ion-col> 90 సంవత్సరములు </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> జ్ఞాన బోధ చేసిన సమయము: </ion-col>
              <ion-col> 10 నిమిషములు </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>

                పరమాత్మ విశ్వమంతా వ్యాపించి ఉన్నాడు, విశ్వానికి సృష్టికర్త అయిన పరమాత్మయే, శ్రీ కృష్ణ భగవానునిగా వచ్చాడు, భగవంతుడు భగవద్గీతను
                బోధించాడు అని తెలుసు. కాబట్టి, ఆయనను పూజించడం ద్వారా శ్రీకృష్ణుడికి దగ్గర అవుదాము. శ్రీ కృష్ణుడు జన్మించిన
                రోజును అష్టమి రోజుగా పిలుస్తారు కాబట్టి, ఆధ్యాత్మిక జ్ఞానంతో పరిచయమున్న వారందరూ శ్రావణ బహుల అష్టమి రోజును
                శ్రీకృష్ణాష్టమి పేరుతో పండుగ జరుపుకుంటారు. అనంతమైన పరమాత్మ ఒక పరిమితమైన శరీరంలోకి వస్తే, నిరాకార దేవుడు సాకార
                రూపంతో ఒక శరీరంలోకి వస్తే, మనం ఆయన్ని భగవంతుడు అని చెప్పుకుంటాం. శరీరంతో వచ్చిన పరమాత్మ యొక్క అంశే శ్రీకృష్ణుడు,
                అతడే శ్రీకృష్ణ భగవానుడు. మానవ రూపంలో అవతరించిన దేవుని జనన సమయం చాలా పవిత్రమైంది మరియు గొప్పది మరియు మనము
                ఆరోజును భగవంతుని జన్మదినంగా పండుగ జరుపుకుంటారు. అదే శ్రీకృష్ణాష్టమి, గోకులాష్టమి.
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                శ్రీకృష్ణ భగవానుడు క్రీస్తు పూర్వం 19 జూలై 3228 న బహుళ అష్టమి నాడు వృషభ లగ్న సమయంలో జన్మించాడు. ఇప్పటికి 5247 సంవత్సరాల ముందు
                భూమి మీద పుట్టాడు. ఆయన జీవితం ఒక సరైన పద్ధతిలో అర్థమైతే, ఆయన జీవితమే మనకు గొప్ప జ్ఞాన సందేశము. ఆ ప్రకారం
                తన పుట్టుకలో కూడా గొప్ప జ్ఞానం ఇమిడి ఉందని చెబుతారు. ఆ ప్రత్యేకత ఏమంటే, కృష్ణుడు ఎదురు కాళ్లతో పుట్టాడు,
                ఆయన అష్టమి నాడు పుట్టాడు, దానికి ఒక విశిష్టత ఉంది.
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                అమావాస్య రోజు నుంచి పౌర్ణమి రోజు వరకు 15 రోజులు ఉన్నాయని, అదేవిధంగా పౌర్ణమి రోజు నుంచి అమావాస్య రోజు వరకు 15 రోజులు ఉన్నాయని
                అందరికీ తెలిసిన విషయమే. శ్రీ కృష్ణుడు అష్టమి రోజున పౌర్ణమి నుండి అమావాస్య వరకు 15 రోజుల మధ్యలో జన్మించాడు.
                15 రోజులలో పాడ్యమి నుండి సప్తమి వరకు 7 రోజులు, మధ్యలో అష్టమి, మరియు నవమి నుండి అమావాస్య వరకు 7 రోజులు ఉన్నాయి.
                7 + 1 + 7 = 15ను రెండు సమాన భాగాలుగా చేస్తే ఇటు 7 రోజులు మరియు అటు 7 రోజులు పోను మధ్యలో 1 రోజు మిగిలిపోతుంది.
                ఆ ఒక్క రోజు అష్టమి అవుతుంది, అప్పుడు అష్టమి ముందు ఏడు రోజులు, అష్టమి తర్వాత ఏడు రోజులు గుర్తుంచుకోవాలి. అష్టమి
                అని పిలువబడే మధ్య రోజున శ్రీకృష్ణుడు పుట్టడానికి ఒక విశిష్టమైన అర్థం ఉంది.
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                శ్రీకృష్ణుడు జ్ఞానానికి, అజ్ఞానానికి మధ్య వారధి లాంటివాడు. అజ్ఞానం నుంచి జ్ఞానం వైపుకు, లేదా జ్ఞానం నుండి అజ్ఞానం వైపు పయనించడానికి
                ఆయన ఒక కేంద్రం లాంటివాడు. జ్ఞానం తెలిసిన వారు, శ్రీకృష్ణుని జీవితాన్ని, ఆయన పద్ధతులను, ఆయన ఆచరణలను గమనించి,
                "ఆయన గీతాబోధ అద్భుతమైనదే, కానీ ఆయన పద్ధతులు మాకు నచ్చలేదు, ఆయన ప్రవర్తన కూడా ముఖ్యమే కదా! ప్రతి ఒక్కరి పనులు
                వారి లోపలి గుణాలపై ఆధారపడి ఉంటాయి, ఆయన గొప్ప జ్ఞానాన్ని బోధించినప్పటికీ, ఆయన చేసిన పనులను బట్టి చూస్తే, ఆయన
                జ్ఞానాన్ని బోధించే అంత గొప్పవాడు కాదు" అని చెప్తారు. అట్టి వారు, జ్ఞానము నుండి కృష్ణుని ద్వారా అజ్ఞానములోనికి
                వెళ్ళినట్టు అవుతుంది! వారికున్న విజ్ఞానం నిరుపయోగం! శ్రీకృష్ణుడు బోధించిన జ్ఞానము వారికి తెలియదు. అదే విధంగా,
                శ్రీకృష్ణుడు బోధించిన, ఆచరించి చూపించిన వాటిని తెలుసుకోగలిగిన ప్రజలు, "ఆయన బోధించినది, ఆచరించి చూపించినది
                ఒక్కటే" అని తెలుసుకొని జ్ఞానం వైపు నడవగలరు. కాబట్టి శ్రీకృష్ణుడు అష్టమి రోజున జన్మించాలని, జ్ఞానానికి, అజ్ఞానానికి
                మధ్య కేంద్రముగా ఉన్నానని తెలియజేయడానికి ఎంచుకున్నాడు. పరమాత్మ భగవంతునిగా జన్మించాడు. జ్ఞానంతో నిండి, నిత్య
                ప్రకాశవంతమైన ప్రపంచం నుండి అజ్ఞానపు చీకటి ప్రపంచంలోకి వచ్చాడు.
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                భగవద్గీత పుట్టిన తర్వాత జ్ఞానం తెలిసిన కొందరు వ్యక్తులు కృష్ణుడు సామాన్యుడు కాదని గ్రహించారు. అప్పటినుంచి ఆయన పుట్టిన రోజు
                వేడుకలను ఘనంగా జరుపుకోవడం మొదలుపెట్టారు. కనుక అది శ్రీకృష్ణ జన్మాష్టమి అయింది. శ్రీ కృష్ణుడు తనువు చాలించిన
                రెండేళ్లకు కలియుగం మొదలయింది. కలియుగం ఆరంభంలో దేశం మొత్తం మీద ప్రధాన పండుగ శ్రీ కృష్ణాష్టమియే . కృష్ణాష్టమి
                అంటే ఇంట్లో జరుపుకునే పండుగ కాదు. పూర్వకాలములో ప్రజలు కృష్ణాష్టమిని వీధులలో జరుపుకొనే వారు, వీధులలో వారు
                ఉట్లు కొట్టే ఆట ఆడేవారు. వారు వీధులలో పందిరి కట్టేవారు, అందులో శ్రీకృష్ణ ప్రతిమను పెట్టేవారు, వారు మండపం
                ముందు శ్రీకృష్ణుని లీలలని ప్రదర్శించేవారు, చివరి రోజున శ్రీకృష్ణుని ప్రతిమను పందిరి నుండి ఊరేగింపుగా తీసుకుపోయే
                వారు, ఊరేగింపు పూర్తయిన తర్వాత ఆ ప్రతిమను ఇంటి లోనే ఉంచుకొనేవారు. దేశంలోనే తొలి వీధి పండుగ శ్రీకృష్ణాష్టమి
                మాత్రమే అని తెలియాల్సి ఉంది.
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                భూమి మీద అతి చిన్న నుంచి అతి పెద్ద వరకు జరుగుతున్న ప్రకృతి వైపరీత్యాలన్నీ భూతాల వల్లనే జరుగుతున్నాయి. భూతాలు ఆ దేవుడి పాలకులే.
                శ్రీ కృష్ణాష్టమి నాడు భక్తితో పండుగ జరుపుకుంటే ఆ ప్రాంతంలో ప్రకృతి వైపరీత్యాల ప్రభావం తగ్గి పోతుంది. వర్షాలు
                కురవడానికి భూతాలు ప్రధాన కారణం కనుక మనకు భగవంతుని మీద భక్తి ఉంటే సకాలంలో వర్షాలు కురుస్తాయి. అందుచేత శ్రీకృష్ణాష్టమి
                నాటి సత్సంగాలు, వేడుకల్లో పాల్గొని భగవద్గీతలో శ్రీ కృష్ణుడు చెప్పిన రహస్యమైన, విలువైన జ్ఞానాన్ని తెలుసుకుందాం.
                శ్రీకృష్ణుడి మీద భక్తి భావం పెంచుకుందాం. గోపి మరియు గోపికలు గతంలోనేకాక నేడు కూడా ఉన్నారని రుజువు చేద్దాం.
              </ion-col>
            </ion-row>
          
        </ion-card>
          <div *ngIf="this.global.networkStatus==='ONLINE'">
          <ion-row *ngFor="let video of videos">
            <ion-col>
              <ion-row *ngIf="video.title!=null">
                <ion-col class="ion-text-center">
                  <span><b>{{video.title}}</b></span>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="ion-text-center">


                    <div class="viditem">
                      <a class="vid-img-container" (click)="playVideo(video.id)">
                          <img class="playimg" src="assets/img/playbutton.png">
                          <img class="vidimg" src="https://img.youtube.com/vi/{{video.id}}/hqdefault.jpg">
                      </a>
                    </div>

                   
                  </ion-col>  
                </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="this.global.networkStatus==='OFFLINE'">
          <ion-row>
            <ion-col class="ion-text-center">
              <b>శ్రీ కృష్ణ భగవాన్ గురించి వీడియోలను వీక్షించుటకు  మీకు ఇంటర్నెట్ అందుబాటులో లేదు.</b>
            </ion-col>
          </ion-row>
        </div>

        

      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>