<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <img src="assets/images/telugulogo.png" height="50">
      </ion-buttons>
      <ion-title class="ion-text-center"><b>త్రైత సిద్ధాంత <br> భగవద్గీత</b></ion-title>
      <ion-buttons slot="end">
          <img src="assets/img/swami.jpeg" height="50">
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-content-color">

  <ion-grid>
    <div *ngIf="this.global.networkStatus=='ONLINE'">
      <ion-row *ngFor="let video of videos">
          <ion-col class="ion-text-center">

            <div class="viditem">
              <a class="vid-img-container">
                  <iframe  class="vidimg" style="min-width:400px" height="290" 
                  [src]="video.id | safe:'resourceUrl'" 
                  frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
             

          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="this.global.networkStatus=='OFFLINE'">
        <ion-row>
          <ion-col class="ion-text-center">
            <b>శ్రీ శ్రీ శ్రీ ఆచార్య ప్రబోధానంద యోగీశ్వరులు స్వామివారి ఆధ్యాత్మిక ప్రసంగముల వీడియోలను వీక్షించుటకు  మీకు ఇంటర్నెట్ అందుబాటులో లేదు.</b>
          </ion-col>
        </ion-row>
      </div>
  </ion-grid>
</ion-content>
